Entity_Question_Linking.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Entity_Question_Linking
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.22@588c9f60178d37985626f1118347eb92bedcd8cb27d25bafc4ac929027ec51dc
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1753860220074-source-1753862368521-target
      selected: false
      source: '1753860220074'
      sourceHandle: source
      target: '1753862368521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1753862368521-source-1753862888674-target
      selected: false
      source: '1753862368521'
      sourceHandle: source
      target: '1753862888674'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1753862888674-source-1753862321104-target
      selected: false
      source: '1753862888674'
      sourceHandle: source
      target: '1753862321104'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Quesion
          max_length: 1000000
          options: []
          required: true
          type: paragraph
          variable: Quesion
      height: 88
      id: '1753860220074'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1753862888674'
          - text
          variable: knowledge
        selected: false
        title: End
        type: end
      height: 88
      id: '1753862321104'
      position:
        x: 1034.5145891530312
        y: 282
      positionAbsolute:
        x: 1034.5145891530312
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - BeT0jeITLYm+LdTptXZS8Sapng8SIBVLcVacKcXWQBaJUY30An09h8B6n53uItht
        desc: ''
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          score_threshold: null
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: netease-youdao/bce-embedding-base_v1
              embedding_provider_name: langgenius/siliconflow/siliconflow
              vector_weight: 1
        query_variable_selector:
        - '1753860220074'
        - Quesion
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1753862368521'
      position:
        x: 388.125417333049
        y: 282
      positionAbsolute:
        x: 388.125417333049
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1753862368521'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.5
            top_p: 0.5
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: ea4fea4e-a629-4448-a760-58b4c0dac85b
          role: system
          text: 你是一个很负责的老师
        - id: 38ba3b05-6190-4417-ac87-f5dc0023de79
          role: user
          text: '在{{#context#}}中找出与{{#1753860220074.Quesion#}}考察知识点最相近的知识点, 返回的格式：{''知识点'':
            }'
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1753862888674'
      position:
        x: 731.8052920247906
        y: 282
      positionAbsolute:
        x: 731.8052920247906
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 66.73335024367583
      y: 83.48901734656492
      zoom: 0.4508728747649837
